# Byte-compiled / cache
*/__pycache__/*
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/
.vscode/

# Logs
*.log

# pytest
.pytest_cache/
.htmlcov/
.coverage
coverage.xml
pytest_report.html
.public/
report.xml

# mypy
.mypy_cache/

# OS
.DS_Store

# Your custom files
brudnopis.py

requirements.in